SIRION_URL=https://<tenant>.sirioncloud.com
SIRION_CLIENTID=
SIRION_CLIENTSECRET=
# Sirion User ID is optional, if empty then permissions defined on OAuth credential are applied and activity is logged as System Admin
# SIRION_USERID=first.last