SIRION_URL=https://<tenant>.sirioncloud.com
SIRION_CLIENTID=
SIRION_CLIENTSECRET=
# Sirion Login ID is optional, if empty then permissions defined on OAuth credential are applied and activity is logged as system admin
# SIRION_LOGINID=first.last